body {
  margin: 0px;
}

ul {
  font-family: Calibri;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f7c1d9;
  font-size: 2em;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(41, 41, 41);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li img {
  display: block;
  width: 65px;
}

.active {
  background-color: #f09bc1;
  font-weight: bolder;
}

li a:hover {
  background-color: #f088b7;
  font-weight: bolder;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  /* Centrér login-boksen horisontalt */
  padding-top: 50px;
  /* Plads ovenfor login-boksen */
}

#loginBox {
  background-color: white;
  /* Tilføj baggrundsfarve til loginboksen */
  max-width: 600px;
  /* Maksimal bredde på loginboksen */
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #f09bc1;
  /* Gør kantfarven synlig */
}

/* Justering af input og knap */
#loginBox input[type="text"],
#loginBox input[type="password"],
#loginButton {
  width: 100%;
  /* Gør dem bredde 100% af boksen */
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* Inkluder padding og border i elementets samlede bredde */
}

#loginButton {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

#loginButton:hover {
  background-color: #555;
}

/* De andre CSS-regler */
.center {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.center button {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-left: 45%;
  margin-right: 45%;
  background-color: #f7c1d9;
  font-weight: bold;
}

.center input {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 20px;
  margin-bottom: 20px;
}

select {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-left: 45%;
  margin-right: 45%;
  margin-bottom: 20px;
  font-weight: bold;
}